@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AddingMovie

<h1>Confirm Deletion</h1>
<h2>@Model.Title, @Model.Year</h2>
<form method="post">
    <input type="hidden" asp-for="MovieId" />
    <button type="submit" class="btn btn-danger custom-btn">Delete</button>
    <button class="btn btn-info custom-btn" asp-controller="Home" asp-action="MovieList">Cancel</button>
</form>