@{
}
<h1 class="h1-general">Get to Know Joel</h1>
<br />
<a href="https://www.qwcomedy.com/" class="a-general">Quick Wits Comedy</a>
<br />
<a href="https://baconsale.com/" class="a-general">
    Baconsale site
    <br />
    <img src="~/img/baconsalekate.jpg" class="img-general" height="500" />
</a>